.head {
  background-image: url(../img/head_bg.jpg);
  height: 367px;
  margin-bottom: 11px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}
.top_line {
  width: 100%;
  margin-top: 24px;
  /* overflow: hidden; */
  text-align: center;
  height: 62px;
}
.logo {
  float: left;
}
.top_line h1 {
  display: inline-block;
  font-family: "PTSansItalic";
  font-size: 19px;
  margin-top: 14px;
  color: #fff;
}
.zvonok_open {
  float: right;
  width: 198px;
  text-align: right;
}
.zvonok_open span {
  font-family: "PTSansBold";
  color: #Fff;
  font-size: 18px;
  margin-bottom: 1px;
  display: inline-block;
}


.zvonok {
  margin-top: -71px;
}
.nomer_zv p {
  font-family: "PTSansBold";
  font-size: 19px;
  line-height: 18px;
  margin-bottom: 8px;
  text-align: right;
  font-weight: bold;
  color: #Fff;
}
.menu {
  width: 100%;
  padding-top: 10px;
  background-image: url(../img/menuvtr.png);
  background-position-y: 0px;
  background-size: cover;
  margin-top: -50px;
  height: 74px;
  background-repeat: no-repeat;
}
.menu ul li:hover a,.menu ul li.active a{
	color: #F9CB02;
}
.menu ul {
  background-image: url(../img/menu.png);
  background-size: cover;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.menu ul li {
  float: left;
  background-image: url(../img/razdelitel.png);
  background-position: right;
  line-height: 50px;
  background-repeat: no-repeat;
}
 .menu ul li a {
    color: #fff;
    font-family: 'PtSansbold';
    font-size: 13px;
    display: block;
    letter-spacing: 0.5px;
    float: left;
    padding-right: 41px;
	

}
.menu ul li:first-child a {
    padding-left: 25px;
}
.menu ul li:last-child {
  background-image: none;
}
.menu ul li:last-child a {
    padding-right: 0px;
}
.content {
  width: 100%;
}
.side_bar {
  width: 300px;
  float: left;
}
.product .title{
margin-bottom:0px;
}
.side_bar h3 {
    font-family: "PTSansBold";
    font-size: 18px;
    color: #4d4d4d;
    line-height: 24px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 3px;
    margin-left: 14px;
}
.side_bar ul {
  margin-left: 14px;
}
.side_bar ul {
  margin-left: 14px;
    margin-bottom: 15px;
}
.side_bar ul li {
    overflow: hidden;
    margin-bottom: 2px;
    line-height: 35px;
}
.side_bar ul li a {
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #4d4d4d;
  Text-transform: uppercase;
  background-image: url(../img/tochka.jpg);
      background-position: left 0px center;
  display: block;
  background-repeat: no-repeat;
  background-size: 12px;
  padding-left: 17px;
  float: left;
  width: 220px;
}
.side_bar ul li:first-child a,.side_bar ul li:nth-child(3n) a{
	line-height:35px;
}
.side_bar ul li:nth-child(10n) a{
	line-height:35px;
}
.catalog_li {
  float: left;
  margin-right: 5px;
  width: 35px;
  height: 33px;
}
.catalog_li img {
  width: 33px;
}
.content_center {
  width: 657px;
  margin-left: 42px;
  float: left;
}
.title h2 {
    font-family: "PTSansBold";
    font-size: 18px;
    color: #4d4d4d;
    line-height: 25px;
    display: inline-block;
}
.title.rel span {
    float: right;
}
.side_bar ul li:first-child {
    margin-top: 7px;
}
.title a {
    font-family: "PTSansRegular";
    font-size: 17px;
    color: #4d4d4d;
    line-height: 24px;
    cursor: pointer;
    text-decoration: underline;
}
.title a.active{
	font-family:"PTSansBold";
	text-decoration:none;
	font-size: 20px;
}
.side_bar ul li a.active_sb{
	text-decoration:underline;
}

.title {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 9px;
}
.korzina_zakaz {
    width: 100%;
    margin-bottom: 11px;
    overflow: hidden;
}
.product .korzina_zakaz{
	margin-top:9px;
}
.korzina {
    width: 240px;
    height: 38px;
    float: left;
}
.korzina img {
  float: left;
  margin-right: 10px;
}
.korzina span {
  font-size: 16px;
  font-family: "PTSansRegular";
  line-height: 38px;
}
.m-a {
    margin: 0 auto 4px;
    float: none;
}
.m-a span {
    line-height: 30px;
}
.m-a img {
    width: 31px;
}
.search {
  width: 321px;
  float: right;
}
input.si {
  width: 169px;
  text-indent: 10px;
  padding: 0px;
  border: 1px solid #ccc;
  outline: none;
  line-height: 34px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 136px;
}
.search button {
  width: 142px;
  height: 37px;
  font-family: "PTSansRegular";
  font-size: 19px;
  border: none;
  display: inline-block;
  border-radius: 4px;
  float: right;
  background-image: url(../img/button.png);
  color: #fff;
}
.product {
  width: 100%;
  /* height: 100%; */
}
ul.pord_spisok li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 0;
}
.opisanie {
   width: 80%; 
    float: left;
    display: block;
}
.img_pr {
    width: 84px;
    height: 100px;
    margin-right: 12px;
    float: left;
}
.img_pr img {
    border: 1px solid #ccc;
}
.opisanie-txt {
    width: 428px;
    float: left;
}
.opisanie span {
    font-family: "PTSansRegular";
    font-size: 18px;
    color: #4b4e4f;
    margin-bottom: 4px;
    display: block;
}
span.name_pr {
  color: #368dbe;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 9px;
}
.opisanie a {
  font-family: "PTSansBold";
  font-size: 14px;
  color: #70b601;
  float: left;
}
.podr_img {
  float: right;
  margin-left: 3px;
}
.kolichestvo {
    float: right;
    text-align: right;
}
.kolichestvo span {
  font-family: "PTSansRegular";
  font-size: 16px;
  margin-bottom: 9px;
  display: inline-block;
  color: #4d4d4d;
}
.shtuk {
    margin: 0 auto;
    overflow: hidden;
    font-family: "PTSansBold";
    font-size: 18px;
    color: #368dbe;
    line-height: 23px;
    height: 31px;
}
.minus {
    float: left;
    margin-right: 6px;
    font-family: "PTSansBold";
    line-height: 21px;
    color: #4d4d4d;
    cursor: pointer;
}
.plus {
    font-family: "PTSansBold";
    line-height: 23px;
    margin-left: 6px;
    float: left;
    cursor: pointer;
    color: #4d4d4d;
    margin-right: 5px;
}
.shtuk span {
  float: left;
  font-family: "PTSansBold";
  font-size: 18px;
  color: #368dbe;
}
.page_wrap {
  min-height: 100%;
  margin-bottom: -68px;
}
.footer {
  width: 100%;
  border-top: 1px solid #ccc;
  height: 73px;
  margin-top: 20px;
  clear: both;
}
.foot.fl_r p {
  font-family: "PTSansRegular";
  color: #4d4d4d;
  font-size: 16px;
}
.foot.fl_r a:hover{
text-decoration:underline;
}
.foot.fl_r a {
  font-family: "PTSansItalic";
  color: #4d4d4d;
  font-size: 16px;
  line-height: 73px;
}
.footer img {
  margin-top: 17px;
  width: 150px;
}
.text {
  width: 100%;
  overflow: hidden;
  margin-bottom: 12px;
}
.text p:nth-child(1n) {
    margin-top: 2px;
}
.text p {
  font-family: "PTSansRegular";
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
  text-align: justify;
  margin-bottom:8px;
}
.text .ul {
    list-style-type: disc;
    -webkit-padding-start: 17px;
    overflow: hidden;
}
.text .ul li {
    font-family: "PTSansRegular";
    font-size: 14px;
    line-height: 18px;
    color: #4d4d4d;
    text-align: justify;
    margin-bottom: 10px;
}
.etc {
    height: 30px;
    display: inline-block;
    background-color: #61b039;
    line-height: 31px;
    color: #fff;
    padding: 0 15px;
    font-size: 14px;
    font-family: 'PtSansRegular';
}
.etc:hover {
    background-color: #458922;
}
ul.cont {
  margin-bottom: 25px;
}
.text img {
  float: left;
  margin: 5px 12px 0px 0;
  border: 1px solid #ccc;
}
ul.vrach {
  margin-top: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
ul.vrach li {
    width: 212px;
    float: left;
    margin-left: 62px;
    text-align: center;
}
.vrach_dannie {
  text-align: center;
}
.vrach_dannie p {
    text-align: center;
}
.vrach_dannie p span {
    display: block;
    text-align: center;
    font-family: "PTSansBold";
}
.vrach_dannie img {
    float: none;
    width: 100%;
    margin: 0px;
    border-radius: 118px;
    border: none;
    text-align: center;
}
.vrach_dannie span {
  font-family: "PTSansRegular";
  font-size: 16px;
  line-height: 20px;
}
ul.oplata {
    margin-top: 14px;
}
.oplata li {
  font-family: Calibri;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: Lighter;
  color: #696969;
}
.oplata li span {
  font-weight: bold;
  margin-right: 5px;
  color: #7fab68;
}
.akcii li {
  float: left;
  width: 201px;
  margin-right: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.akcii li:nth-child(3n) {
  margin-right: 0px;
}
.akcii li img {
  margin: 0px 0px 8px;
}
.akcii li span {
  font-family: "Arial";
  font-size: 16px;
  color: #4b4e4f;
}
.consult li {
  width: 191px;
  float: left;
  margin-left: 0px;
  margin-right: 31px;
}
ul.vrach.consult li {
    float: left;
    margin-left: 100px;
    display: block;
    text-align: center;
    margin-right: 0px;
}
.consult li:nth-child(3n) {
  margin-right: 0px;
}
.consult_img {
    height: 213px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
}
.statii li {
  float: left;
  width: 208px;
  margin-right: 16px;
  margin-bottom: 30px;
}
.statii li:nth-child(3n) {
  margin-right: 0px;
}
.title_stati {
    font-family: "PTSansBold";
    font-size: 17px;
    margin-bottom: 10px;
}
.statii li span {
  float: right;
}
.modal_div {
    width: 252px;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    text-align: center;
    display: none;
    opacity: 0;
    z-index: 11;
    padding: 20px 25px;
}
.side_bar ul li a:hover {
    text-decoration: underline;
}
.opisanie a:hover {
    text-decoration: underline;
}
.search a:hover {
    text-decoration: underline;
}
.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 8040;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px 1px rgba(51, 51, 51, 0.17);
  background-size: 10px;
  background-position: top 8px center;
}

#modal_form {
	width: 300px; 
	height: 300px; /* ������� ������ ���� ����������� */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* ����� ���� ���� � ������� ���� � ����� ����� */
	top: 45%; /* ��������� ������ 45%, ��������� 5% �������� ������ */
	left: 50%; /* �������� ������ ����� */
	margin-top: -150px;
	margin-left: -150px; /* ��� ��� ����� ��������� css, ��������� ����� � ����� ����� �������� ������ � ������ �������������� =) */
	display: none; /* � ������� ��������� ���� �� ������ ���� */
	opacity: 0; /* ��������� ��������� ��� ������������ */
	z-index: 5; /* ���� ������ ���� �������� ������� ���� */
	padding: 20px 10px;
}
/* ������ ������� ��� ��� ��� � �����) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* �������� */
#overlay {
  z-index: 9; /* �������� ������ ���� ���� ����� ��������� �����, �� ���� ���� ���������� ���� */
	position: fixed; /* ������ ����������� ���� ���� */
	background-color: #000; /* ������ */
	opacity: 0.8; /* �� ������� ��������� */
	width: 100%; 
	height: 100%; /* �������� �� ���� ����� */
	top: 0; 
	left: 0; /* ������ � ����� 0, ������������ ��������! */
	cursor: pointer;
	display: none; /* � ������� ��������� � ���) */
}
.modal_f {
    width: 250px;
    text-indent: 10px;
    padding: 0px;
    border: 1px solid #ccc;
    outline: none;
    line-height: 34px;
    background-repeat: no-repeat;
    background-position: 136px;
    display: block;
    margin: 0px auto 14px;
}
.type_file {
    position: relative;
    height: 36px;
    margin-top: 40px;
    overflow: hidden;
    margin-bottom: 20px;
}
.type_file input[type="file"]{ /* поле type="file" */
	position: absolute; /* абсолютное позиционирование, чтобы можно было совместить поле и блок с оформлением */
	top: 0;
	left: 0;
	z-index: 2; /* z-слой должен быть больше, чем у блока с оформлением */
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* делаем поле абсолютно прозрачным */
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	width: 267px; /* задаем ширину для всех браузеров. Для firefox подбираем значение параметра size в поле */
}
.fonTypeFile { /* блок с оформлением */
    width: 250px;
    height: 36px;
    background: url(../img/input.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.inputFileVal { /* поле, в котором будет показан результат выбора файла */
    position: absolute;
    text-indent: 10px;
    top: 0px;
    left: 5px;
    z-index: 2;
    height: 35px;
    width: 163px;
    background: none;
    border: none;
}

#modal1 button {
    width: 180px;
    height: 37px;
    font-family: "PTSansRegular";
    font-size: 19px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    /* float: right; */
    background-image: url(../img/button.png);
    color: #fff;
    background-size: cover;
}
#modal2 button {
	width: 180px;
    height: 37px;
    font-family: "PTSansRegular";
    font-size: 19px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    /* float: right; */
    background-image: url(../img/button.png);
    color: #fff;
    background-size: cover;
}

.main_page a {
  font-family: calibri;
  font-size: 27px;
  font-weight: bold;
  float: right;
  color: #FAB24C;
  text-decoration: underline;
}
#user_phone {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#user_phone:focus {
	outline: none;
	border-color: #1e7cc4;
}
#user_phone:-moz-placeholder {
  color: #4d4d4d;
}
#user_phone::-webkit-input-placeholder {
  color: #4d4d4d;
}
#name:-moz-placeholder {
  color: #4d4d4d;
}
#name::-webkit-input-placeholder {
  color: #4d4d4d;
}
.foto_otz {
    width: 100px;
    height: 90px;
    float: left;
    margin-right: 17px;
    margin-bottom: 10px;
}
.name_cl {
  font-family: "PTSansBold";
  font-size: 18px;
  display: block;
  color: #4d4d4d;
  margin-bottom:5px;
}
.years {
  font-family: "PTSansRegular";
  font-size: 16px;
  display: block;
  line-height: 18px;
  color: #4d4d4d;
}
.otzv {
    width: 100%;
    margin-top: 7px;
}
.item p {
    width: 100%;
    overflow: hidden;
    font-family: "PTSansItalic";
    font-size: 14px;
    height: 89px;
    color: #4d4d4d;
    line-height: 15px;
}
.search a {
    width: 142px;
    font-family: "PTSansRegular";
    font-size: 19px;
    line-height: 37px;
    text-align: center;
    border: none;
    display: inline-block;
    border-radius: 4px;
    float: right;
    background-image: url(../img/button.png);
    color: #fff;
}
.shtuk input {
    font-family: "PTSansBold";
    font-size: 18px;
    border: none;
    text-align: center;
    display: inline-block;
    color: #368dbe;
    width: 44px;
}
.title_z {
    color: #368dbe;
    font-size: 21px;
    margin-bottom: 13px;
    display: block;
    float: left;
}
.spoiler_body {
    display: none;
    width: 655px;
    font-family: "PTSansRegular";
    font-size: 15px;
    color: #4b4e4f;
    line-height: 17px;
    margin-left: -95px;
    overflow: hidden;
    text-align: justify;
    clear: both;
    margin-top: 28px;
}
.skrit {
    float: right!important;
    margin-top: 10px;
    cursor: pointer;
}
.vibor input {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.vibor  {
    width: 113px;
    height: 31px;
    background-color: #61b039;
    display: block;
    text-align: left;
    line-height: 31px;
    text-indent: 10px;
    color: #fff;
    font-family: "PTSansRegular";
}
 .spoiler_links {cursor:pointer;}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.help-block {
font-size: 13px;
    font-family: "PTSansRegular";
    overflow: hidden;
    position: relative;
    text-indent: 0px;
    top: -10px;
    text-align: left;
}
a.open_modal.otkrit {
    background-image: url(../img/button.png);
    width: 142px;
    height: 35px;
    background-size: 100% 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    margin-top: 12px;
    color: #fff;
    font-family: "PTSansRegular";
}
.staus_zakaz {
    font-family: "PTSansRegular";
    font-size: 17px;
    color: #4d4d4d;
    line-height: 24px;
    margin-bottom: 3px;
}
.staus_zakaz span {
    font-family: "PTSansBOld";
}
.title_zakaz {
    font-family: "PTSansRegular";
    font-size: 17px;
    margin-bottom: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.zakaz_table {
    width: 100%;
}
.zakaz_table tr td {
    border: 1px solid #ccc;
    padding: 5px;
}
.zakaz_table tr td:last-child {
    text-align: center;
}
.zakaz_table tr td:first-child {
    text-align: center;
}
.zakaz_table thead {
    font-family: "PTSansBOld";
}
.save_zakaz_s {
    background-image: url(../img/button.png);
    width: 206px;
    float: right;
    height: 44px;
    background-size: cover;
    display: block;
    text-align: center;
    line-height: 45px;
    margin-top: 17px;
    font-size: 14px;
    color: #fff;
    font-family: "PTSansRegular";
    border-radius: 4px;
}
.back_otziv {
    clear: both;
    margin-left: 15px;
}